@import 'custom_bootstrap_vars';
@import '~bootstrap/scss/bootstrap';

$bootstrap-icons-font-dir: '~bootstrap-icons/font/fonts';
@import '~bootstrap-icons/font/bootstrap-icons.scss';


// project specific CSS goes here

///////////////
// Variables //
///////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

body{
  background-color: #E8DCB8;
}

.navbar-old-paper {
  background-color: #E8DCB8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

////////////
// Alerts //
////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// override bootstrap's buttons color and use gradient colors
.btn-primary {
  background-image: linear-gradient(to right, #3254b9, #172347
  );
  border-color: #3254b9;
  color: $white;
}
.btn-success{
  background-image: linear-gradient(to right, #5cd47f, #172347
  );
  border-color: #5cd47f;
  color: $white;
}